<h1>Welcome to SteveOverflow</h1>

<h1>Listing all the motha fuckin' questions</h1>

<%=link_to 'Ask Question', new_question_path %>
<ul>
<% @questions.each do |question| %>
  <li>
    <button><%=link_to '^', upvote_question_path(question), method: :patch%></button><br>
    <%=question.votes%><br>
    <button><%=link_to 'v', downvote_question_path(question), method: :patch%></button><br>
    <h4><%=link_to question.title, question_path(question)%></h4>
    <p><%=question.content%></p>
  </li>
<%end%>
</ul>

<%=@quote%>