<h1>Title: <%=@question.title%></h1>
<p>Content:<br>
  <%=@question.content%>
<p>
  <%=@question.votes%><br>


  <%=link_to 'Edit Question', edit_question_path(@question.id)%>
  <%=link_to 'Delete Question', question_path(@question.id), method: :delete%>

  <h2>Answers:</h2>

  <table class = 'answer_list'>
    <%@question.answers.each do |answer|%>
      <tr>
      <td>
        <button><%=link_to '^', upvote_question_answer_path(@question.id, answer), method: :patch, remote: true%></button><br>
        <button><%=link_to 'v', downvote_question_answer_path(@question.id, answer), method: :patch, remote: true%></button>
      </td>
        <td id ='avote<%=answer.id%>'><%=answer.votes%></td>
        <td>Title: <%=answer.title%><br>
        Content: <%=answer.content%><td>
      </tr>
    <%end%>
  </table>

<h2>Your Answer</h2>

<%= render 'answers/new_answer_form'%>